<div class="giscus-comments">
    <script src="https://giscus.app/client.js"
        data-repo="Xela-KP/portfolio"
        data-repo-id="R_kgDOOxfErA"
        data-category="General"
        data-category-id="DIC_kwDOOxfErM4Cq0g0"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async></script>
</div>