<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} | My Portfolio</title>

        <!-- favicon -->
        <link rel="icon" type="image/x-icon" href="{{ '/assets/icons/favicon.ico' | url }}">
        <link rel="android-chrome-512x512" sizes="512x512" href="{{ '/assets/icons/android-chrome-512x512.png' | url }}">
        <link rel="android-chrome-192x192" sizes="192x192" href="{{ '/assets/icons/android-chrome-192x192.png' | url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icons/favicon-32x32.png' | url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icons/favicon-16x16.png' | url }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/apple-touch-icon.png' | url }}">

        <!-- Styles -->
        <link rel="stylesheet" href="{{ '/styles/main.css' | url }}">

        <!-- Prismjs -->
        <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet"/>

        <!-- Scripts -->
        <script src="{{ '/scripts/components/theme-toggle.js' | url }}" defer></script>
        <script src="{{ '/scripts/components/tabs.js' | url }}" defer></script>
        <script src="{{ '/scripts/components/project-image-loader.js' | url }}" defer></script>
        <script src="{{ '/scripts/components/code-blocks.js' | url }}" defer></script>

        <!-- Primary Meta Tags -->
        <meta name="description" content="{{ site.description }}">
        <meta name="author"      content="{{ site.author }}">

        <!-- KaTeX -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css">
        <script defer src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/katex/dist/contrib/auto-render.min.js"
          onload="renderMathInElement(document.body,{
          delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$',  right: '$',  display: false},
            {left: '\\(', right: '\\)', display: false},
            {left: '\\[', right: '\\]', display: true}
          ]
        });"></script>
    </head>

    <body>
        <header class="site-header">
            <nav>
                <a href="{{ '/' | url }}">Home</a>
                <button id="theme-toggle" class="theme-toggle" aria-label="Toggle theme">🌓</button>
            </nav>
        </header>
        <main>
            {{ content | safe }}
        </main>
        <hr/>
        <footer>
            &copy; 2025 PerochoDev
            <!-- GoatCounter -->
            <script data-goatcounter="https://aperocho.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
        </footer>
    </body>
</html>