---
layout: "base.njk"
---
<header class="post-header">
    <h1>{{ title }}</h1>
    <p class="post-excerpt">{{ excerpt }}</p>
    <small>
        <b>{{ content | readingTime }} read</b>
    </small>
</header>
<article>
    {{ content | safe }}
</article>
<hr/>
<footer class="post-footer">
    {% include "giscus.njk" %}
</footer>