{# <article> #}
<header class="intro">
    <img src="{{ '/assets/img/avatar.jpg' | url }}" alt="Alexander King Perocho" class="intro-avatar">
    <div class="intro-text">
        <h1>Hi, I’m Alexander King Perocho</h1>
        <p>
            I’m a Computer Science student passionate about building high-performance software, writing about tech, and learning new things every day. Welcome to my portfolio!
            <br/><br/>
            <a href="{{'/assets/documents/perocho_resume.pdf' | url }}" target="_blank">Resume (PDF)</a>
        </p>

    </div>
</header>
{# </article> #}