---
layout: base.njk
title: Blog
permalink: /posts/index.html
---

<h1>Blog</h1>
<ul class="post-list">
    {% for post in collections.posts %}
        <li>
            <a href="{{ post.url }}">
                <h2>{{ post.data.title }}</h2>
            </a>
            <p class="post-date">{{ post.date | date("MMMM d, yyyy") }}</p>
            <p class="post-excerpt">{{ post.data.excerpt }}</p>
            <a class="read-more" href="{{ post.url }}">Read more →</a>
        </li>
    {% endfor %}
</ul>