---
layout: base.njk
pagination:
  data: collections.posts
  size:      9999         # all posts
  alias:     post
  filter:    "{{ paginationItem.data.tags | contains(tag) }}"
permalink: /tags/{{ tag | slug }}/index.html
eleventyComputed:
  tag: "{{ paginationItem }}"  # each unique tag
---

<h1>Posts tagged “{{ tag }}”</h1>
<ul class="post-list">
    {% for post in pagination.items %}
        <li>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
            <small>{{ post.date | date("MMMM d, yyyy") }}</small>
        </li>
    {% endfor %}
</ul>