<link rel="icon" type="image/x-icon" href="{{ '/assets/icons/favicon.ico' | url }}">
<link rel="android-chrome-512x512" sizes="512x512" href="{{ '/assets/icons/android-chrome-512x512.png' | url }}">
<link rel="android-chrome-192x192" sizes="192x192" href="{{ '/assets/icons/android-chrome-192x192.png' | url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icons/favicon-32x32.png' | url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icons/favicon-16x16.png' | url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/apple-touch-icon.png' | url }}">