<head>
    <title>{{ title }}</title>
    {% include "base/head/meta.njk" %}
    {% include "base/head/favicon.njk" %}
    {% include "base/head/styles.njk" %}
    {% include "base/head/scripts.njk" %}
    {% include "base/head/imports.njk" %}
</head>