<script src="{{ '/scripts/components/theme-toggle.js' | url }}" defer></script>
<script src="{{ '/scripts/components/tabs.js' | url }}" defer></script>
<script src="{{ '/scripts/components/project-image-loader.js' | url }}" defer></script>
<script src="{{ '/scripts/components/code-blocks.js' | url }}" defer></script>